<td-layout>
  <td-navigation-drawer flex sidenavTitle="Event Manager" name="Elias Douglas" email="elias.douglas@company.com">
    <mat-nav-list>
      <a mat-list-item><mat-icon>home</mat-icon>Home</a>
    </mat-nav-list>
    <div td-navigation-drawer-menu>
      <mat-nav-list>
        <a mat-list-item><mat-icon>account_box</mat-icon>Profile</a>
      </mat-nav-list>
    </div>
  </td-navigation-drawer>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
  <td-layout-nav toolbarTitle="Event Manager" navigationRoute="/">
    <button mat-icon-button td-menu-button tdLayoutToggle>
      <mat-icon>menu</mat-icon>
    </button>
  </td-layout-nav>
  <div id="content">
    main content goes here
  </div>
</td-layout>
